In [1]:
import pandas as pd
import numpy as np
Datensatz = pd.read_csv("boston_2019.csv", sep=",")

In [2]:
Datensatz.isna().sum()

start_time            0
end_time              0
start_station_id      0
end_station_id        0
start_station_name    0
end_station_name      0
bike_id               0
user_type             0
dtype: int64

In [3]:
Datensatz.head(10)

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2019-01-01 00:09:13.7980,2019-01-01 00:15:25.3360,80,179,MIT Stata Center at Vassar St / Main St,MIT Vassar St,3689,Subscriber
1,2019-01-01 00:33:56.1820,2019-01-01 00:38:20.8800,117,189,Binney St / Sixth St,Kendall T,4142,Subscriber
2,2019-01-01 00:41:54.6000,2019-01-01 00:49:33.2730,68,96,Central Square at Mass Ave / Essex St,Cambridge Main Library at Broadway / Trowbridg...,1628,Subscriber
3,2019-01-01 00:43:32.5710,2019-01-01 00:49:37.4260,89,334,Harvard Law School at Mass Ave / Jarvis St,Mass Ave at Hadley/Walden,2969,Subscriber
4,2019-01-01 00:49:56.4640,2019-01-01 01:01:17.7010,73,367,Harvard Square at Brattle St / Eliot St,Vassal Lane at Tobin/VLUS,3469,Subscriber
5,2019-01-01 00:50:01.0370,2019-01-01 00:59:10.3190,104,76,Harvard University Radcliffe Quadrangle at She...,Central Sq Post Office / Cambridge City Hall a...,4050,Customer
6,2019-01-01 00:54:48.9310,2019-01-01 00:59:53.5810,80,179,MIT Stata Center at Vassar St / Main St,MIT Vassar St,3861,Subscriber
7,2019-01-01 01:00:48.0620,2019-01-01 01:07:53.3960,4,46,Tremont St at E Berkeley St,Christian Science Plaza - Massachusetts Ave at...,3571,Subscriber
8,2019-01-01 01:03:34.4120,2019-01-01 01:26:07.8520,91,78,One Kendall Square at Hampshire St / Portland St,Union Square - Somerville,3066,Customer
9,2019-01-01 01:08:56.1240,2019-01-01 01:16:30.3240,36,39,Copley Square - Dartmouth St at Boylston St,Washington St at Rutland St,3443,Subscriber

In [6]:
df = pd.DataFrame(Datensatz["bike_id"])
print(df)

         bike_id
0           3689
1           4142
2           1628
3           2969
4           3469
...          ...
2522766     4503
2522767     5326
2522768     4483
2522769     3955
2522770     3205

[2522771 rows x 1 columns]

In [7]:
rohdaten = df.groupby(by="bike_id").bike_id.count()
arr_ausleihen = rohdaten.to_numpy()
arr_fahrraeder = np.sort(Datensatz["bike_id"].unique())
df_erg = pd.DataFrame({"Fahrrad-ID":arr_fahrraeder,"Ausleihen":arr_ausleihen})
df_erg_sortiert = df_erg.sort_values(by="Ausleihen", ascending=False, ignore_index=True)
print(df_erg_sortiert)

      Fahrrad-ID  Ausleihen
0           4223       1462
1           4109       1395
2           3545       1387
3           4029       1386
4           4351       1383
...          ...        ...
4647        4615          1
4648        4619          1
4649        4626          1
4650        4636          1
4651        6173          1

[4652 rows x 2 columns]

1) Task one from description (Denis), check start/end time
2) Demand per station (heatmap) (Leon), check station_id
3) Correlation between weather and rents per day (seasons) (Emiliano)
4) Correlation of time and rents per day (Jinhee), user_type
5) Correlation between default working days and different holidays (Ved), check unique station ids
6) Correlation between distances of stations and demand on those stations (Michelle), check bike_id (4 digits etc.)