# Weather data

In [119]:
import pandas as pd
import numpy as np

# Import dataset
dataset = pd.read_csv("/Users/49152/Desktop/DSML_datasets\weather_hourly_boston.csv", sep=",")
dataset.info()
dataset.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  43354 non-null  object
 1   max_temp   43354 non-null  float64
 2   min_temp   43354 non-null  float64
 3   precip     43356 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.3+ MB

             date_time  max_temp  min_temp  precip
0  2015-01-02 01:00:00      -1.1      -1.1     0.0
1  2015-01-02 02:00:00      -1.1      -1.1     0.0
2  2015-01-02 03:00:00      -0.6      -0.6     0.0
3  2015-01-02 04:00:00      -0.6      -0.6     0.0
4  2015-01-02 05:00:00      -0.6      -0.6     0.0
5  2015-01-01 06:00:00      -5.6      -5.6     0.0
6  2015-01-01 07:00:00      -5.6      -5.6     0.0
7  2015-01-01 08:00:00      -5.6      -5.6     0.0
8  2015-01-01 09:00:00      -4.4      -4.4     0.0
9  2015-01-01 10:00:00      -5.6      -5.6     0.0

#  Script for elimination of null values from the dataset 
The script deletes all null values from the dataset and creates a new DataFrame with the cleaned data.
The output can be double checked by comparing the amount of non-null counts of rows to the number given in the previously used method .info().

In [113]:
# create new dataset to store data in, after removing all rows with null values from dataset

dataset_clean = dataset.dropna()

dataset_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43354 entries, 0 to 43847
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  43354 non-null  object
 1   max_temp   43354 non-null  float64
 2   min_temp   43354 non-null  float64
 3   precip     43354 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.7+ MB

# Script for temperature validation of each day
The script checks the validility of the minimum and maximum temperature of each day. The output is the number of rows where the minimum temperature is higher than the maximum temperature.

In [99]:
# Define required columns
temp_columns=["min_temp", "max_temp"]

# Create DataFrame
temp_infos= dataset_clean[temp_columns]

# Define variable that counts the error rows
errors = 0

# Iterate over all rows and increase error variable by one if minimum temperature is higher than maximum temperature
for i in range(0, len(temp_infos)-1):
    if(temp_infos.iloc[i,0] > temp_infos.iloc[i,1]):
        errors = errors+1
        
print(errors)

0