# Weather data

In [46]:
import pandas as pd
import numpy as np
from datetime import date, time, datetime, timedelta 

# Import dataset
df_weather = pd.read_csv("weather_hourly_boston.csv", sep=",")
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43848 entries, 0 to 43847
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  43354 non-null  object
 1   max_temp   43354 non-null  float64
 2   min_temp   43354 non-null  float64
 3   precip     43356 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.3+ MB

In [42]:
# only use 2019 data

first_date = datetime(year=2019, day=1, month=1)
last_date = datetime(year=2019, day=31, month=12)

df_weather["date_time"] = pd.to_datetime(df_weather["date_time"], infer_datetime_format=True)
df_weather_2019 = df_weather[(df_weather["date_time"]>=first_date)&(df_weather["date_time"]<=last_date)]

df_weather_2019.sort_values(by="date_time",inplace=True)

<ipython-input-42-16c05388c137>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_weather_2019.sort_values(by="date_time",inplace=True)

#  Script for elimination of null values and duplicates from the dataset 
The script deletes all null values and duplicates from the dataset.

In [40]:
df_weather_2019 = df_weather_2019.dropna()
df_weather_2019.info()
df_weather_2019 = df_weather_2019.drop_duplicates(subset = ['date_time'])
df_weather_2019

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8194 entries, 35063 to 43776
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date_time  8194 non-null   datetime64[ns]
 1   max_temp   8194 non-null   float64
 2   min_temp   8194 non-null   float64
 3   precip     8194 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 320.1 KB

                date_time  max_temp  min_temp  precip
35063 2019-01-01 00:00:00       5.6       5.6     1.0
35040 2019-01-01 01:00:00       3.9       3.9     1.0
35041 2019-01-01 02:00:00       3.3       3.3     1.0
35042 2019-01-01 03:00:00       2.8       2.8     1.0
35044 2019-01-01 04:00:00       3.9       3.3     1.0
...                   ...       ...       ...     ...
43795 2019-12-30 19:00:00       3.9       3.9     1.0
43796 2019-12-30 21:00:00       3.3       2.8     1.0
43798 2019-12-30 22:00:00       3.9       3.3     1.0
43799 2019-12-30 23:00:00       3.9       3.9     1.0
43776 2019-12-31 00:00:00       3.9       2.8     0.0

[8194 rows x 4 columns]

# Script for temperature validation of each day
The script checks the validility of the minimum and maximum temperature of each day. The output is the number of rows where the minimum temperature is higher than the maximum temperature.

In [44]:
# Define required columns
temp_columns=["min_temp", "max_temp"]

# Create DataFrame
temp_infos= df_weather_2019[temp_columns]

# Define variable that counts the error rows
errors = 0

# Iterate over all rows and increase error variable by one if minimum temperature is higher than maximum temperature
for i in range(0, len(temp_infos)-1):
    if(temp_infos.iloc[i,0] > temp_infos.iloc[i,1]):
        errors = errors+1
        
print(errors)

0

In [45]:
df_weather_2019.to_csv('weather_2019.csv')