In [16]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
import numpy as np
from datetime import datetime

In [17]:
Dataset = pd.read_csv("boston_2019.csv")
df = pd.DataFrame(Dataset['start_time'])

In [18]:
Dataset['duplicated']= Dataset['start_time'].duplicated()
Dataset.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duplicated
0,2019-01-01 00:09:13.7980,2019-01-01 00:15:25.3360,80,179,MIT Stata Center at Vassar St / Main St,MIT Vassar St,3689,Subscriber,False
1,2019-01-01 00:33:56.1820,2019-01-01 00:38:20.8800,117,189,Binney St / Sixth St,Kendall T,4142,Subscriber,False
2,2019-01-01 00:41:54.6000,2019-01-01 00:49:33.2730,68,96,Central Square at Mass Ave / Essex St,Cambridge Main Library at Broadway / Trowbridg...,1628,Subscriber,False
3,2019-01-01 00:43:32.5710,2019-01-01 00:49:37.4260,89,334,Harvard Law School at Mass Ave / Jarvis St,Mass Ave at Hadley/Walden,2969,Subscriber,False
4,2019-01-01 00:49:56.4640,2019-01-01 01:01:17.7010,73,367,Harvard Square at Brattle St / Eliot St,Vassal Lane at Tobin/VLUS,3469,Subscriber,False

In [20]:
Dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2522771 entries, 0 to 2522770
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   start_time          object
 1   end_time            object
 2   start_station_id    int64
 3   end_station_id      int64
 4   start_station_name  object
 5   end_station_name    object
 6   bike_id             int64
 7   user_type           object
 8   duplicated          bool
dtypes: bool(1), int64(3), object(5)
memory usage: 156.4+ MB

In [19]:
Dataset[Dataset["duplicated"]==True]

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type,duplicated
42601,2019-01-17 17:49:02.1340,2019-01-17 17:58:05.6780,115,181,Porter Square Station,Huron Ave At Vassal Lane,4110,Subscriber,True
47665,2019-01-19 14:52:17.4890,2019-01-19 14:59:24.4010,42,25,Boylston St at Arlington St,South End Library - Tremont St at W Newton St,3479,Subscriber,True
51513,2019-01-24 08:56:30.2810,2019-01-24 09:02:28.7230,25,345,South End Library - Tremont St at W Newton St,Park Plaza at Charles St,4410,Subscriber,True
69493,2019-01-31 18:22:48.9530,2019-01-31 18:32:48.8600,59,13,Chinatown Gate Plaza,Boston Medical Center - E Concord St at Harris...,3095,Subscriber,True
122340,2019-02-18 13:47:35.9390,2019-02-18 14:01:30.1980,46,335,Christian Science Plaza - Massachusetts Ave at...,Harvard St at Greene-Rose Heritage Park,4558,Subscriber,True
...,...,...,...,...,...,...,...,...,...
2389876,2019-11-22 08:20:12.7490,2019-11-22 08:25:50.8550,22,369,South Station - 700 Atlantic Ave,Boston Public Market,2440,Subscriber,True
2393690,2019-11-22 17:20:41.0810,2019-11-22 17:31:56.4120,150,39,State Street at Channel Center,Washington St at Rutland St,6002,Subscriber,True
2403870,2019-11-25 08:30:29.6490,2019-11-25 08:34:21.7320,189,144,Kendall T,Rogers St & Land Blvd,5002,Subscriber,True
2421896,2019-11-27 13:37:19.6660,2019-11-27 13:45:10.3590,97,105,Harvard University River Houses at DeWolfe St ...,Lower Cambridgeport at Magazine St / Riverside Rd,2432,Subscriber,True
2489687,2019-12-16 16:51:22.3720,2019-12-16 16:54:47.6010,60,58,Charles Circle - Charles St at Cambridge St,Mugar Way at Beacon St,3783,Subscriber,True